<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weidd.best.mapper.BookDao">
    <insert id="saveBook" parameterType="Book">
        insert into book(bname,bprice) values (#{bname},#{bprice})
    </insert>

    <select id="findbook" resultType="Book">
        select * from book
    </select>

</mapper>