<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.weidd.best.study.mapper.UserDao1"></bean>

    <bean id="userService" class="UserService">
        <property name="userDao" ref="userDao"></property>
        <property name="username" value="张三"></property>
        <property name="age" value="23"></property>
        <!--注入List-->
        <property name="list">
            <list>
                <value>2323</value>
                <value>233424</value>
                <value>2423423234</value>
            </list>
        </property>
        <!--注入数组-->
    </bean>
</beans>