<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.weidd.best.study.mapper.UserDao">

    <!--新增用户-->
    <insert id="save" parameterType="com.weidd.best.study.pojo.User">
        insert into user (u_name,u_password) values(#{uName},#{uPassword})
        /*需要注意:由于mybatis的特性,values后字段名需要是中字段名或者驼峰*/
    </insert>

    <!--根据ID查询用户-->
    <select id="queryUserById" parameterType="long" resultType="com.weidd.best.study.pojo.User">
        select * from user where u_id=#{id}
    </select>
    <!--根据名称查询用户-->
    <select id="queryUserByName" parameterType="string" resultType="com.weidd.best.study.pojo.User">
        select * from user where u_name=#{name}
    </select>

</mapper>