<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1\创建SQLSessionFactory  需要两个属性:DataSource\ mapperLocations-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--mapper文件注册优化:mapper文件注册,一次性注入多个mapper文件-->
        <property name="mapperLocations" value="classpath:com/weidd/best/dao1/*.xml"></property>
        <!--别名优化-->
        <property name="typeAliasesPackage" value="com.weidd.best.pojo"></property>
    </bean>
    <!--2\创建DataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/mysqlStudy"></property>
        <property name="username" value="root"></property>
        <property name="password" value="3.014/*-+"></property>
    </bean>
    <!--优化 创建Dao-->
    <!-- <bean id="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
         <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
         <property name="mapperInterface" value="com.weidd.best.dao1.ProductDao"></property>
     </bean>-->
    <!--一次性注入整个包下的类 使用MapperScannerConfigurer批量注入Dao,默认在容器中的名为:UserDao > userDao首字母小写-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.weidd.best.dao1"/>
    </bean>

    <bean id="productService" class="com.weidd.best.service1.ProductServiceImpl">
        <property name="productDao" ref="productDao"/>
    </bean>

</beans>