<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weidd.best.dao1.ProductDao">

    <insert id="saveProduct" parameterType="com.weidd.best.pojo.Product">
        insert into product values (#{pname},#{price})
    </insert>


</mapper>