<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weidd.best.dao.UserDao">

    <insert id="save" parameterType="com.weidd.best.pojo.User">
        insert into testUser(name,age,addr) values(#{name},#{age},#{addr})
    </insert>
    <select id="findUser" parameterType="int" resultType="com.weidd.best.pojo.User">
        select * from testUser
    </select>

</mapper>